html{
    scroll-behavior:smooth;
}
*{
    color:black;/*a comment */
    margin:10px;
    font:20px Papyrus;
    text-shadow: 2px 2px green;
    background-color:darkred;
}

p {
    color:black;
}

.box{
    display:flex;
}

.box div{
    border:solid 1px black;
}
.grid-container {
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 1px
}

.grid-item1 {
    background: lightgray;
    border: solid 1px black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}
.grid-item2 {
    background: lightgray;
    border: solid 1px black;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item3  {
    background: lightgray;
    border: solid 1px black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

header, section{
    margin: 2em auto;
    width:min(75em,100%);
    background-color:brown;
    padding: min(2em, 15%);
    border-radius: 1em;
}

nav {
    margin: 1em auto 1em auto;
    width: min(1000px,100%);
    font-size: 1.5em;
}

nav u1{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap:2em;
}

nav p:first-cild{
    margin-right: auto;
}

button.subpage{
    border-radius: .3em;
    font-size: 1.2em;
    color: black;
    
}

.intro_button {
    display: inline-block;
    text-decoration: none;
    color:gold;
    background-color: rgb(95, 9, 9);
    padding: .75em 1em;
    margin-top: 0em;
    border-radius: .5em;
    font-weight:600;
    text-shadow: 2px 2px blueviolet;
    
}

.Button_click{
    text-align: center;
}

.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.text-container{
    flex: 0 1 40em;
}

h1{
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.3em;
}


        .axis {
            stroke: #ccc;
            stroke-width: 1px;
        }

        .gridCircle {
            fill: none;
            stroke: #ccc;
            stroke-width: 0.5px;
        }

        .radarStroke {
            fill: rgba(107, 76, 154, 0.2); /* Semi-transparent fill */
            stroke: #6b4c9a;
            stroke-width: 2px;
        }

        .radarDot {
            fill: #6b4c9a;
        }

        .axisLabel {
            font-size: 18px;
        }

      .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font: 18px;
        }

        .link {
            fill: none;
            stroke: white; /* Set the line color to purple */
            stroke-width: 0.5px;
        }

 .adjacency-matrix .cell {
 stroke: #ccc;
 stroke-width: 0.5px;
 }
 

 .adjacency-matrix .row-label,
 .adjacency-matrix .col-label {
 font-size: 10px;
 }


 .link {
 stroke: #999;
 stroke-opacity: 0.6;
  /* stroke-width: 5; */
 }



   .matrix-label {
  font-size: 10px;
  }
 

  .axis-label {
  font-size: 12px;
  }